# Francesca Bruno
# Final Project Part 2
# 11/27/2024
# Exploring the Dataset

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("game_sales_data.csv", encoding='unicode_escape')

## Exploring the dataset

In [5]:
df.columns

Index(['Rank', 'Name', 'Platform', 'Publisher', 'Developer', 'Critic_Score',
       'User_Score', 'Total_Shipped', 'Year'],
      dtype='object')

In [6]:
df.tail()

,Rank,Name,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Year
19595,19594,FirePower for Microsoft Combat Flight Simulator 3,PC,GMX Media,Shockwave Productions,NaN,NaN,0.01,2004
19596,19595,Tom Clancy's Splinter Cell,PC,Ubisoft,Ubisoft,9.4,NaN,0.01,2003
19597,19596,Ashita no Joe 2: The Anime Super Remix,PS2,Capcom,Capcom,NaN,NaN,0.01,2002
19598,19597,Tokyo Yamanote Boys for V: Main Disc,PSV,Rejet,Rejet,NaN,NaN,0.01,2017
19599,19598,NadePro!! Kisama no Seiyuu Yatte Miro!,PS2,GungHo,GungHo Works,NaN,NaN,0.01,2009

In [7]:
df.head()

,Rank,Name,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Year
0,1,Wii Sports,Wii,Nintendo,Nintendo EAD,7.7,8.0,82.90,2006
1,2,Super Mario Bros.,NES,Nintendo,Nintendo EAD,10.0,8.2,40.24,1985
2,3,Counter-Strike: Global Offensive,PC,Valve,Valve Corporation,8.0,7.5,40.00,2012
3,4,Mario Kart Wii,Wii,Nintendo,Nintendo EAD,8.2,9.1,37.32,2008
4,5,PLAYERUNKNOWN'S BATTLEGROUNDS,PC,PUBG Corporation,PUBG Corporation,8.6,4.7,36.60,2017

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19600 entries, 0 to 19599
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           19600 non-null  int64
 1   Name           19600 non-null  object
 2   Platform       19600 non-null  object
 3   Publisher      19600 non-null  object
 4   Developer      19598 non-null  object
 5   Critic_Score   9969 non-null   float64
 6   User_Score     2223 non-null   float64
 7   Total_Shipped  19600 non-null  float64
 8   Year           19600 non-null  int64
dtypes: float64(3), int64(2), object(4)
memory usage: 1.3+ MB

In [9]:
df.dtypes

Rank               int64
Name              object
Platform          object
Publisher         object
Developer         object
Critic_Score     float64
User_Score       float64
Total_Shipped    float64
Year               int64
dtype: object

In [10]:
df.shape

(19600, 9)

In [11]:
df.describe()

               Rank  Critic_Score   User_Score  Total_Shipped          Year
count  19600.000000   9969.000000  2223.000000   19600.000000  19600.000000
mean    9798.539133      7.034848     6.994872       0.551123   2007.789949
std     5658.110539      1.558968     1.517038       1.671466      6.326169
min        1.000000      0.800000     1.000000       0.010000   1977.000000
25%     4898.750000      6.100000     6.300000       0.050000   2004.000000
50%     9798.500000      7.300000     7.200000       0.160000   2008.000000
75%    14698.250000      8.200000     8.000000       0.460000   2012.000000
max    19598.000000     10.000000    10.000000      82.900000   2020.000000

In [12]:
df.sample()

,Rank,Name,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Year
6790,6789,Harvest Moon: Magical Melody,Wii,Natsume,Marvelous Interactive,6.3,NaN,0.29,2009